<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5 style="font-size: 400%;" style="text-align: center;">Upcoming interview List</h5>
    <ul>
        {{#each array}}   
        <li>
            <div>
                <h4 class="id">Interview ID:-{{this._id}}</h4>
                <h4>username:-{{this.userName}}</h4>
                <h4>Date:-{{this.dateString}}</h4>
                <h4>Start Time:-{{this.startTime}}</h4>
                <h4>End Time:-{{this.endTime}}</h4>
                <button type="text" class="edit">Reschedule</button> 
                <button type="text" class="delete">Delete</button>
            </div>
        </li>  
    {{/each}}
    </ul>
</body>
    <script src="js/interview.js" charset="utf-8"></script>
</html>